.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    border-radius: 2rem;
    width: 40%;
    height: 70%;
    background-color: var(--laranja-claro);
}
.not-found__imagem{
    width: 80%;
}