
.text-logo{
    font-family: 'Agbalumo';
    color: orange !important;
    text-shadow: 4px 2px 5px rgba(0,0,0,0.75);
}
.titulo-principal{
    font-family: 'Agbalumo';
    text-shadow: 4px 2px 5px rgba(0,0,0,0.75);
}

.pesquisa__submit{
    width: 10px;
    height: 10px;
}
