:root{
    --bg-color: #1f1f1f;
    --font-color:#525252;;
}

html{
    height: 100%;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100%;
}

main i{
    font-size: 22px;
}

#formularioIndex{
    max-width: 600px;
    min-width: 400px;   
}

#usuario, #senha{
    width: 250px;
}

