#usuario, #senha,#email{
    width: 15rem;
}

@media screen and (min-width: 1025px){ 
   
    #formularioIndex{
        width: 50%;
        max-width: 600px;
        min-width: 400px;   
    }
 }
@media screen and (max-width:480px){ 
   
    #formularioIndex{
        margin: 0.5rem;
    }
    #usuario, #senha,#email{
        width: 100%  !important;
    }
    
    
 }
