
.modal-header,.input__post,.modal-footer{
    border: none;
} 
.botao__postar{
    background-color: var(--laranja);
    border: none;
}
.botao__postar:hover{
    background-color: var(--laranja-escuro);
}
.botao__postar img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:480px){
    .botao__postar{
        width: 8rem;
        height: 3rem;
        font-size: 1.5em;
       
    } 
    .ck-editor__editable{
        height: 15rem;
    }
    
 }