.ck-content{
    color: #525252!important;
}
.modal-header,.input__post,.modal-footer{
    border: none;
} 
.botao__postar{
    background-color: var(--laranja)!important;
    border: none;
}
.botao__postar:hover{
    background-color: var(--laranja-escuro);
}
.botao__postar img{
    width: 20px;
    height: 20px;
}
.privacidade-post{
    margin-top: 1rem;
    display: flex;
    width: 10rem;
    padding: 4px;
    border-radius: 4px;
}
.editor[type="text"]{
    width: 10ch;
}
.modal-content *{
    background-color: var(--fundo-input)!important;
    color: white!important;
}
#count-caracter{
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
}

@media screen and (max-width:480px){
    .botao__postar{
        width: 8rem;
        height: 3rem;
        font-size: 1.5em;
       
    }   
    .div-post .ck-editor{
        width: 15rem!important;
    }
   
    
 }