
.fotoUsuario{
    width: 8rem;
    height: 8rem;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    background-color: white;
}

.publicacaoUsuario{
    border-radius: 0 30px 30px 30px;
    background-color: white;
    max-height: 300px; 
}

.post-texto{
    word-wrap: break-word;
}
@media screen and (min-width: 1025px){ 
   
    .post-texto{
        width: 600px;
    }
 }

 @media screen and (min-width: 481px){
    .post-texto{
        width: 50vw;
    }
}
 @media screen and (max-width:480px){ 
    .post-texto{
        width: 14rem;
        margin: 1 auto 1.5rem auto;
    }
    .fotoUsuario{
        width: 80px;
        height: 80px;
    }
    .fotoUsuario,.nome-usuario{
      margin-right: -1rem!important;
    }
    
    .div-post:last-child{
        margin-bottom: 3rem;
    }
 }