@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300;400;500;700&display=swap');
@import url('./login.css');
@import url('./home.css');
@import url('./post.css');
@import url('./erro.css');
@import url('./modal.css');
@import url('./meus_posts.css');
@import url('./meus_amigos.css');
@import url('./perfil.css');

:root{
    --bg-color: #1b1f27;
    --bg-form :#181920;
    --cinza-claro : #4C4A4A;
    --branco-transparente:#9A8E8E;
    --font-color:white;
    --laranja-claro:#E6DCCA;
    --laranja : orange;
    --laranja-escuro:rgb(190, 133, 26);
    --fundo-input: #252A34;
}

html{
    height: 100%;  
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color)!important;
    color:var(--font-color);
    height: 100%;
}

main i{
    font-size: 22px;
}
.nome-usuario-nav{
    font-family: 'Agbalumo';
    font-size: 0.8em;
    margin: auto 1rem;
    margin-left: 0;
    
}
.navbar-nav{
    margin: auto;
}
.nav-menu-item .nav-link::after{
    content: " ";
    height: 3px;
    width: 0;
    background-color: white;
    display: block;
    transition:0.5s ease-in-out;
    
}
.nav-menu-item .nav-link:hover::after{
    width: 100%;
}
